# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.tiny.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\job\Tiny2d\.idea\.idea.tiny\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
